body {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 80%;
  text-align: center;
}

.post_body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li, ol, ul, h1, h2, h3, p, pre {
  width: 100%;
}

img {
  max-width: 100%;
}

