body {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .post_body {
  max-width: 760px;
}

.title {
  text-align: center;
}

.post_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

li, ol, ul, h1, h2, h3, p, pre {
  width: 100%;
}

img {
  max-width: 100%;
}

