<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<link rel="stylesheet" href="index.css">
<body>
  <h3>Posts</h3>
  <%= for post <- posts do %>
    <a href="<%= post.link %>">
      <%= post.title%>
  <% end %>
</body>
</html>
