<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="show.css">
  <link rel="stylesheet" href="prism.css">
  <link rel="stylesheet" href="prism-highlight.css">
  <title></title>
</head>
<body>
  <h1 class="title">
    <%= title %>
  </h1>

  <div class="post_body">
    <%= body %>
  </div>
  <script src="prism.js"></script>
  <script src="show.js"></script>
  <script src="prism-highlight.js"></script>
</body>
</html>
