h3 {
}

a.is-post {
  display: block;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

* {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
}

section {
  max-width: 600px;
}
